
.btn__default-gray{
    background-color: #E0E0E0;
    box-shadow: 0px 2px 3px 0px #33333333;
    color:  #3F3F3F;
}

.btn__default-dark{
    box-shadow: 0px 2px 3px 0px #33333333;
    background-color:  #AEAEAE;
    

}

