.btn__text{
    background-color: transparent;
    border: 0;
    color:  #3D5AFE;
   
}

.btn__text_color {
    color: #3D5AFE;
}

#btn005{
    grid-column: 1/2;
    grid-row: 3/4;
}

#btn006{
    grid-column: 2/3;
    grid-row: 3/4;
}