.btn_container__buttons{
    width: 100%;
    display: contents;
}

.btn_container{
    display: flex;
    flex-direction:column ;
    gap: 10px;
}

.btnBase{
    width: 81px;
    height: 36px;
    padding: 8px;
    border-radius: 6px;
    font-family: var(--noto);
    font-size: 14px;
    font-weight: 500;
}

.btn_dark__text{
    color: #333333;
}

.btn_light__text{
    color: #828282;
}