.container{
    display: flex;
    gap: 65px;
}

.title{
font-family: var(--popins);
color: #4f4f4f;
font-size: 24px;
font-weight: 500;
margin-top: 20px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/*Container de todos los botones*/
.btn_btns___constainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    
}