:root {
  --popins: 'Poppins', sans-serif;
  --noto:'Noto Sans JP', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

button {
  border: 0;

}
